@mixin apply-flex($justify-content, $direction) {
  display: flex;
  justify-content: $justify-content;
  align-items: center;
  flex-direction: $direction;
}

@mixin secondary-font($font-size) {
  font-family: var(--secondary-font-family);
  font-weight: lighter;
  font-size: $font-size;
}

@mixin button($bc-color, $color, $padding) {
  background-color: $bc-color;
  color: $color;
  padding: $padding;
  border: none;
}

.setup-container,
.trivia-container {
  height: 100vh;
  background-color: var(--bc-color);
  @include apply-flex(center, row);

  .setup,
  .trivia-game {
    height: 98vh;
    width: 99vw;
    margin: auto;
    background-color: var(--white);
    @include apply-flex(center, column);
  }
}
