.trivia-container {
  position: relative;
  transition: all 0.8s ease-in-out;
  clip-path: circle(0%);

  &.expand {
    clip-path: circle(100%);
  }
}

.trivia-game {
  h1.fade-out,
  label.fade-out {
    transform: translateY(-20%);
    opacity: 0;
  }
}

.trivia-game h1 {
  max-width: 60rem;
  text-align: center;
  @include secondary-font(var(--question-font-size));
  margin: 5rem 0 1.5rem;
  transition: all 0.3s ease-in-out;
}

.progress-container {
  width: 18rem;
  @include apply-flex(space-between, row);
  align-items: stretch;
  position: relative;
  margin-bottom: 4rem;
  max-width: 100%;
  z-index: 1;

  &::before {
    content: "";
    background-color: var(--black);
    position: absolute;
    top: 50%;
    left: 0;
    height: 3px;
    width: 100%;
    transform: translateY(-50%);
    z-index: -1;
  }

  .progress-bar {
    background-color: var(--primary-color);
    position: absolute;
    top: 50%;
    left: 0;
    height: 4px;
    width: 0%;
    transform: translateY(-50%);
    z-index: -1;
    transition: 0.4s ease;
  }

  .circle {
    @include apply-flex(center, row);
    border: 2px solid var(--black);
    padding: 10px;
    border-radius: 50%;
    background-color: var(--white);
    height: 35px;
    width: 35px;
    font-weight: 500;

    &.active {
      border: 2px solid var(--primary-color);
      color: var(--primary-color);
    }
  }
}

.trivia-options {
  display: grid;
  grid-template-columns: repeat(2, 300px);
  place-items: center;
  gap: 4em 7em;

  label {
    @include secondary-font(var(--label-font-size));
    border: 2px solid var(--primary-color);
    padding: 0.5em 2em;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    display: inline-block;
    line-height: 1.5rem;
    text-align: center;
    z-index: 1;
    transition: all 0.3s ease-in-out;
    --scale: 1;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      height: 20px;
      width: 20px;
      background-color: var(--primary-color);
      border-radius: 50%;
      transform: translate(-100%, -100%) scale(var(--scale));
      transition: transform 0.5s ease;
      z-index: -1;
    }

    &:hover::before {
      --scale: 35;
    }
  }

  input[type="radio"] {
    opacity: 0;
    width: 0;
    margin: 0;
    position: absolute;
  }

  input[type="radio"]:focus-visible + label {
    outline: 2px solid var(--black);
  }

  input[type="radio"]:checked + label {
    transition: all 0.2s ease;
    background-color: var(--primary-color);
    color: var(--white);
    box-shadow: 0 0 4px var(--black);
  }
}

.next-btn,
.restart-btn {
  font-family: inherit;
  cursor: pointer;
  font-weight: 500;
}

.next-btn {
  font-size: 1.5rem;
  display: block;
  margin: 1rem auto;
  @include button(var(--black), var(--white), 0.15em 1.5em);
  border-radius: var(--md-border-radius);
  margin-top: 3rem;

  &:focus {
    outline: 2px solid var(--secondary-color);
  }
}

.restart-btn {
  position: absolute;
  top: 1.5rem;
  right: 1.5rem;
  font-size: 1rem;
  border-radius: var(--sm-border-radius);
  @include button(var(--primary-color), var(--white), 0.2em 1.5em);
}

// Media queries
@media only screen and (max-width: 45.625em) {
  // 730px
  .trivia-game h1 {
    max-width: 35rem;
    --question-font-size: 1.8rem;
    margin: 2rem 0 0.8rem;
  }

  .progress-container {
    margin-bottom: 20px;
  }

  .trivia-options {
    grid-template-columns: 1fr;
    gap: 0;

    label {
      --label-font-size: 1.3rem;
    }
  }

  .circle {
    font-size: 0.8rem;
  }

  .next-btn {
    font-size: 1.4rem;
    margin: auto;
  }

  .restart-btn {
    top: 1rem;
    right: 1rem;
  }
}

@media only screen and (max-width: 27.5em) {
  // 440px
  .trivia-game h1 {
    max-width: 90%;
    --question-font-size: 1.4rem;
  }
  .progress-container {
    width: 15rem;
  }

  .trivia-options label {
    --label-font-size: 1.1rem;
  }

  .next-btn {
    font-size: 1.3rem;
    margin: auto;
  }
}
